/*
 * Corne Mini 3x5 ZMK Keymap
 * Converted from QMK/Vial - 2026-03-18
 * 
 * Layout: QWERTY with Home Row Mods (GASC)
 * OS Layout: ABNT2 (teclado fisico US, layout BR no OS)
 * 
 * Layers:
 *   0 - Default (QWERTY + HRM)
 *   1 - Lower (Numbers + Mouse)
 *   2 - Raise (Symbols + Navigation)
 *   3 - Adjust (empty/reserved)
 *   4 - Macros (text macros on keys)
 *   5 - Bluetooth (transparent, add BT bindings)
 *
 * Positions (Corne 3x5):
 *   0  1  2  3  4     5  6  7  8  9
 *  10 11 12 13 14    15 16 17 18 19
 *  20 21 22 23 24    25 26 27 28 29
 *        30 31 32    33 34 35
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        hm_l: homerow_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33 34 35>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
        hm_r: homerow_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        m0: m0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp Q &kp U &kp E>
                ;
        };
        m1: m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp A &kp D &kp E>
                ;
        };
        m2: m2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp M &kp E &kp N &kp T>
                ;
        };
        m3: m3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp A &kp D &kp O>
                ;
        };
        m4: m4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LS(SQT)>
                , <&macro_wait_time 19>
                , <&macro_tap &kp A &kp N &kp C &kp I &kp A>
                ;
        };
        m5: m5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp SQT>
                , <&macro_wait_time 20>
                , <&macro_tap &kp A>
                , <&macro_wait_time 20>
                , <&macro_tap &kp O>
                ;
        };
        m6: m6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp I &kp D &kp A>
                ;
        };
        m7: m7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LS(SQT) &kp LS(SQT)>
                ;
        };
        m8: m8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp B &kp A &kp S &kp E>
                ;
        };
        m9: m9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp O &kp M>
                ;
        };
        m10: m10 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp R &kp O>
                ;
        };
        m11: m11 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp R &kp E>
                ;
        };
        m12: m12 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp A &kp R>
                ;
        };
        m13: m13 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp N &kp H>
                ;
        };
        m14: m14 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT>
                , <&macro_wait_time 17>
                , <&macro_tap &kp A>
                ;
        };
        m15: m15 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp O &kp N &kp T &kp R &kp A>
                ;
        };
        m16: m16 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp S &kp T>
                ;
        };
        m17: m17 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp F &kp U &kp N &kp D &kp A &kp M &kp E &kp N &kp T>
                ;
        };
        m18: m18 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp E &kp T &kp E &kp R>
                ;
        };
        m19: m19 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp S &kp O &kp B &kp R &kp E>
                ;
        };
        m20: m20 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT &kp E>
                ;
        };
        m21: m21 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp Q &kp U &kp A &kp N &kp T &kp O>
                ;
        };
        m22: m22 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp F &kp O &kp R &kp M &kp A>
                ;
        };
        m23: m23 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P>
                , <&macro_wait_time 15>
                , <&macro_tap &kp R>
                , <&macro_wait_time 15>
                , <&macro_tap &kp I>
                , <&macro_wait_time 15>
                , <&macro_tap &kp N>
                , <&macro_wait_time 15>
                , <&macro_tap &kp C>
                ;
        };
        m24: m24 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp P &kp E &kp S &kp A &kp R>
                ;
        };
        m25: m25 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp O &kp I &kp S>
                ;
        };
        m26: m26 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp T &kp R &kp A &kp B &kp A>
                , <&macro_wait_time 16>
                , <&macro_tap &kp L &kp H>
                ;
        };
        m27: m27 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp U &kp B &kp L &kp I &kp C>
                ;
        };
        m28: m28 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LS(SQT)>
                , <&macro_wait_time 22>
                , <&macro_tap &kp E>
                , <&macro_wait_time 22>
                , <&macro_tap &kp N &kp C &kp I &kp A>
                ;
        };
        m29: m29 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp O &kp R &kp Q &kp U &kp E>
                ;
        };
        m30: m30 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp O &kp D &kp E>
                ;
        };
        m31: m31 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp S &kp E &kp N &kp T &kp E &kp N>
                , <&macro_tap &kp SEMI &kp A>
                ;
        };
        m32: m32 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp L &kp E &kp G &kp A &kp L>
                ;
        };
        m33: m33 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp X &kp E &kp C &kp U>
                ;
        };
        m34: m34 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp E>
                ;
        };
        m35: m35 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp Q &kp U &kp A &kp N &kp D &kp O>
                ;
        };
        m36: m36 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp I &kp R &kp E &kp I &kp T>
                , <&macro_wait_time 20>
                , <&macro_tap &kp O>
                ;
        };
        m37: m37 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp R &kp O &kp C &kp E &kp S &kp S>
                ;
        };
        m38: m38 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp Q &kp U &kp I>
                ;
        };
        m39: m39 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp N>
                , <&macro_wait_time 15>
                , <&macro_tap &kp T>
                , <&macro_tap &kp SQT>
                , <&macro_wait_time 16>
                , <&macro_tap &kp A &kp O>
                ;
        };
        m40: m40 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp S &kp S &kp I &kp M>
                ;
        };
        m41: m41 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp T &kp R &kp I &kp B &kp U &kp N &kp A &kp L>
                ;
        };
        m42: m42 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp R>
                , <&macro_wait_time 15>
                , <&macro_tap &kp E>
                , <&macro_wait_time 15>
                , <&macro_tap &kp G>
                ;
        };
        m43: m43 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp S &kp E &kp J &kp A>
                ;
        };
        m44: m44 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp A &kp R &kp A &kp C &kp T &kp E &kp R>
                ;
        };
        m45: m45 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LS(SQT) &kp E>
                ;
        };
        m46: m46 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp V &kp A &kp L &kp O &kp R>
                ;
        };
        m47: m47 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp J &kp U>
                , <&macro_wait_time 22>
                , <&macro_tap &kp LBKT>
                , <&macro_wait_time 22>
                , <&macro_tap &kp I>
                , <&macro_wait_time 22>
                , <&macro_tap &kp Z &kp O>
                ;
        };
        m48: m48 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT>
                , <&macro_wait_time 20>
                , <&macro_tap &kp A &kp R &kp I>
                ;
        };
        m49: m49 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp N &kp E &kp C &kp E>
                ;
        };
        m50: m50 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp SEMI>
                , <&macro_wait_time 22>
                , <&macro_tap &kp SQT>
                , <&macro_wait_time 22>
                , <&macro_tap &kp A &kp O>
                ;
        };
        m51: m51 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LS(LBKT) &kp LS(LBKT)>
                ;
        };
        m52: m52 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp SQT>
                , <&macro_wait_time 20>
                , <&macro_tap &kp O &kp E &kp S>
                ;
        };
        m53: m53 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp T>
                , <&macro_wait_time 10>
                , <&macro_tap &kp I>
                , <&macro_wait_time 10>
                , <&macro_tap &kp T>
                , <&macro_wait_time 10>
                , <&macro_tap &kp U>
                ;
        };
        m54: m54 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp M &kp A>
                , <&macro_wait_time 15>
                , <&macro_tap &kp N &kp I &kp F>
                ;
        };
        m55: m55 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp NON_US_BSLH>
                , <&macro_release &kp LSHFT>
                ;
        };
        m56: m56 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp O &kp B &kp S &kp E &kp R &kp V>
                ;
        };
        m57: m57 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp R &kp E &kp F &kp E>
                ;
        };
        m58: m58 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp A &kp S>
                , <&macro_wait_time 20>
                , <&macro_tap &kp O>
                ;
        };
        m59: m59 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp M &kp E &kp D &kp I>
                ;
        };
        m60: m60 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp R &kp A &kp Z &kp O>
                ;
        };
        m61: m61 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT &kp U>
                ;
        };
        m62: m62 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp E &kp C &kp I &kp S>
                , <&macro_wait_time 25>
                , <&macro_tap &kp SQT>
                , <&macro_wait_time 25>
                , <&macro_tap &kp A &kp O>
                ;
        };
        m63: m63 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp T &kp E &kp X &kp T &kp O>
                ;
        };
        m64: m64 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp N &kp O &kp R &kp M &kp A>
                ;
        };
        m65: m65 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp O &kp N &kp S &kp I &kp D &kp E &kp R>
                ;
        };
        m66: m66 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp R &kp O &kp V &kp A>
                ;
        };
        m67: m67 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp O &kp C &kp U &kp M &kp E &kp N &kp T &kp O>
                ;
        };
        m68: m68 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp M &kp E &kp S &kp M>
                ;
        };
        m69: m69 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp A &kp R &kp T &kp E>
                ;
        };
        m70: m70 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp N &kp D>
                ;
        };
        m71: m71 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp O>
                , <&macro_wait_time 20>
                , <&macro_tap &kp B>
                , <&macro_wait_time 11>
                , <&macro_tap &kp R &kp I &kp G>
                , <&macro_wait_time 11>
                , <&macro_tap &kp A>
                ;
        };
        m72: m72 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp G &kp R &kp A &kp V>
                ;
        };
        m73: m73 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp I &kp N &kp T &kp E &kp R>
                ;
        };
        m74: m74 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT>
                , <&macro_tap &kp A>
                , <&macro_wait_time 10>
                , <&macro_tap &kp V &kp E &kp L>
                ;
        };
        m75: m75 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp LBKT>
                , <&macro_wait_time 13>
                , <&macro_tap &kp O &kp D &kp I &kp G &kp O>
                ;
        };
        m76: m76 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp Q &kp U &kp A>
                ;
        };
        m77: m77 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp M &kp U &kp I &kp T>
                ;
        };
        m78: m78 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp S &kp E &kp N>
                , <&macro_wait_time 20>
                , <&macro_tap &kp D &kp O>
                ;
        };
        m79: m79 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp T &kp E>
                , <&macro_wait_time 20>
                , <&macro_tap &kp N &kp D &kp O>
                ;
        };
        m80: m80 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp O &kp M &kp P &kp E &kp T>
                ;
        };
        m81: m81 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp E &kp L>
                ;
        };
        m82: m82 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT>
                , <&macro_wait_time 20>
                , <&macro_tap &kp O &kp R &kp I>
                ;
        };
        m83: m83 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp N &kp T &kp R &kp E>
                ;
        };
        m84: m84 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp X &kp T &kp R &kp A>
                ;
        };
        m85: m85 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp T &kp R &kp A &kp N &kp S>
                ;
        };
        m86: m86 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp X>
                , <&macro_wait_time 17>
                , <&macro_tap &kp I &kp G>
                ;
        };
        m87: m87 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp G &kp A &kp R &kp A &kp N &kp T>
                ;
        };
        m88: m88 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp J &kp U &kp R>
                , <&macro_tap &kp LBKT>
                , <&macro_tap &kp I>
                , <&macro_wait_time 17>
                , <&macro_tap &kp D>
                ;
        };
        m89: m89 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp R &kp E &kp Q &kp U &kp E &kp R>
                ;
        };
        m90: m90 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp H &kp LBKT &kp A>
                ;
        };
        m91: m91 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp O &kp N>
                ;
        };
        m92: m92 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp I &kp N &kp C &kp L &kp U>
                ;
        };
        m93: m93 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp T>
                , <&macro_wait_time 20>
                , <&macro_tap &kp LBKT>
                , <&macro_wait_time 20>
                , <&macro_tap &kp E>
                ;
        };
        m94: m94 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp I &kp V &kp I &kp L>
                ;
        };
        m95: m95 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp U &kp M &kp P &kp R &kp I>
                ;
        };
        m96: m96 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp J &kp U &kp L &kp G>
                ;
        };
        m97: m97 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp J>
                , <&macro_wait_time 22>
                , <&macro_tap &kp LBKT>
                , <&macro_wait_time 22>
                , <&macro_tap &kp A>
                ;
        };
        m98: m98 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT &kp O>
                ;
        };
        m99: m99 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT>
                , <&macro_tap &kp I>
                ;
        };
        m100: m100 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A>
                , <&macro_wait_time 16>
                , <&macro_tap &kp P>
                , <&macro_wait_time 16>
                , <&macro_tap &kp E>
                , <&macro_wait_time 16>
                , <&macro_tap &kp N>
                , <&macro_wait_time 20>
                , <&macro_tap &kp A &kp S>
                ;
        };
        m101: m101 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp L &kp T &kp E &kp R>
                ;
        };
        m102: m102 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp F &kp I &kp C &kp A>
                ;
        };
        m103: m103 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp C>
                , <&macro_wait_time 15>
                , <&macro_tap &kp O &kp R &kp D>
                ;
        };
        m104: m104 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp J &kp U &kp D &kp I &kp C &kp I &kp A &kp L>
                ;
        };
        m105: m105 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp S>
                , <&macro_wait_time 22>
                , <&macro_tap &kp SQT>
                , <&macro_wait_time 22>
                , <&macro_tap &kp A>
                , <&macro_wait_time 22>
                , <&macro_tap &kp O>
                ;
        };
        m106: m106 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp N &kp T>
                ;
        };
        m107: m107 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp S &kp I &kp S &kp T &kp E &kp M>
                ;
        };
        m108: m108 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LS(SQT) &kp O>
                ;
        };
        m109: m109 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp J &kp U &kp S &kp T &kp I &kp F &kp I &kp C>
                ;
        };
        m110: m110 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp T &kp A>
                , <&macro_wait_time 20>
                , <&macro_tap &kp N>
                , <&macro_wait_time 15>
                , <&macro_tap &kp T &kp O>
                ;
        };
        m111: m111 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp G &kp R &kp A &kp V &kp O>
                ;
        };
        m112: m112 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp R &kp Q &kp U &kp I &kp V &kp O>
                ;
        };
        m113: m113 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp S>
                , <&macro_wait_time 20>
                , <&macro_tap &kp LBKT>
                , <&macro_wait_time 20>
                , <&macro_tap &kp O>
                ;
        };
        m114: m114 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp O &kp N &kp F &kp O &kp R &kp M &kp E>
                ;
        };
        m115: m115 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp R &kp E &kp S &kp P>
                ;
        };
        m116: m116 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp E &kp M &kp B &kp O &kp R &kp A>
                ;
        };
        m117: m117 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp R &kp E &kp C &kp U &kp R &kp S &kp O>
                ;
        };
        m118: m118 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp I &kp N>
                , <&macro_wait_time 17>
                , <&macro_tap &kp D &kp A>
                ;
        };
        m119: m119 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp LBKT>
                , <&macro_wait_time 16>
                , <&macro_tap &kp I &kp V &kp E &kp L>
                ;
        };
        m120: m120 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp O &kp S &kp S>
                ;
        };
        m121: m121 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp I &kp N &kp D &kp E &kp P &kp E &kp N &kp D>
                ;
        };
        m122: m122 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp J &kp U &kp S &kp T &kp I>
                , <&macro_tap &kp SEMI &kp A>
                , <&macro_tap &kp SPACE &kp G &kp R &kp A &kp T &kp U &kp I &kp T &kp A>
                ;
        };
        m123: m123 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp C &kp LS(SQT)>
                , <&macro_wait_time 11>
                , <&macro_tap &kp A &kp M &kp A &kp R &kp A>
                ;
        };
        m124: m124 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp I &kp N &kp S &kp T &kp R &kp U>
                ;
        };
        m125: m125 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp SQT &kp SQT>
                ;
        };
        m126: m126 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp O>
                , <&macro_wait_time 17>
                , <&macro_tap &kp B>
                , <&macro_wait_time 17>
                , <&macro_tap &kp J>
                , <&macro_wait_time 17>
                , <&macro_tap &kp E>
                , <&macro_wait_time 17>
                , <&macro_tap &kp T>
                ;
        };
        m127: m127 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp P &kp E &kp D &kp I &kp D &kp O>
                ;
        };
        m_aplic: m_aplic {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp P &kp L &kp I &kp C>
                ;
        };
        m_jus: m_jus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp J &kp U &kp S>
                ;
        };
        m_verif: m_verif {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp V &kp E &kp R &kp I &kp F>
                ;
        };
        m_disp: m_disp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp I &kp S &kp P>
                ;
        };
        m_result: m_result {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp R &kp E &kp S &kp U &kp L &kp T>
                ;
        };
        m_aleg: m_aleg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp A &kp L &kp E &kp G>
                ;
        };
        m_declar: m_declar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp D &kp E &kp C &kp L &kp A &kp R>
                ;
        };
        m_limit: m_limit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp L &kp I &kp M &kp I &kp T>
                ;
        };
        m_real: m_real {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp R &kp E &kp A &kp L>
                ;
        };
        m_outr: m_outr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp O &kp U &kp T &kp R>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_0 {
            timeout-ms = <80>;
            key-positions = <13 12>;
            bindings = <&kp TAB>;
        };
        combo_1 {
            timeout-ms = <80>;
            key-positions = <16 17>;
            bindings = <&kp ESC>;
        };
        combo_2 {
            timeout-ms = <80>;
            key-positions = <10 19>;
            bindings = <&m5>;
        };
        combo_3 {
            timeout-ms = <80>;
            key-positions = <27 26>;
            bindings = <&kp LS(MINUS)>;
        };
        combo_4 {
            timeout-ms = <80>;
            key-positions = <17 18>;
            bindings = <&m75>;
        };
        combo_5 {
            timeout-ms = <80>;
            key-positions = <6 5>;
            bindings = <&m18>;
        };
        combo_6 {
            timeout-ms = <80>;
            key-positions = <19 18>;
            bindings = <&m32>;
        };
        combo_7 {
            timeout-ms = <120>;
            key-positions = <10 11 12 13>;
            bindings = <&m65>;
        };
        combo_8 {
            timeout-ms = <80>;
            key-positions = <33 34>;
            bindings = <&kp LGUI>;
            slow-release;
            require-prior-idle-ms = <100>;
        };
        combo_9 {
            timeout-ms = <80>;
            key-positions = <1 10>;
            bindings = <&m54>;
        };
        combo_10 {
            timeout-ms = <80>;
            key-positions = <15 4>;
            bindings = <&m101>;
        };
        combo_11 {
            timeout-ms = <80>;
            key-positions = <33 32>;
            bindings = <&m55>;
        };
        combo_12 {
            timeout-ms = <80>;
            key-positions = <32 31>;
            bindings = <&kp LGUI>;
            slow-release;
            require-prior-idle-ms = <100>;
        };
        combo_13 {
            timeout-ms = <80>;
            key-positions = <31 24>;
            bindings = <&m125>;
        };
        combo_14 {
            timeout-ms = <80>;
            key-positions = <34 25>;
            bindings = <&m7>;
        };
        combo_15 {
            timeout-ms = <80>;
            key-positions = <4 21>;
            bindings = <&m63>;
        };
        combo_16 {
            timeout-ms = <80>;
            key-positions = <10 30>;
            bindings = <&m14>;
        };
        combo_17 {
            timeout-ms = <80>;
            key-positions = <24 11>;
            bindings = <&m8>;
        };
        combo_18 {
            timeout-ms = <80>;
            key-positions = <12 5>;
            bindings = <&m6>;
        };
        combo_19 {
            timeout-ms = <80>;
            key-positions = <13 15>;
            bindings = <&m17>;
        };
        combo_20 {
            timeout-ms = <80>;
            key-positions = <13 16>;
            bindings = <&m0>;
        };
        combo_21 {
            timeout-ms = <80>;
            key-positions = <12 17>;
            bindings = <&m1>;
        };
        combo_22 {
            timeout-ms = <80>;
            key-positions = <11 18>;
            bindings = <&m2>;
        };
        combo_23 {
            timeout-ms = <80>;
            key-positions = <22 19>;
            bindings = <&m50>;
        };
        combo_24 {
            timeout-ms = <80>;
            key-positions = <17 19>;
            bindings = <&m15>;
        };
        combo_25 {
            timeout-ms = <80>;
            key-positions = <22 23>;
            bindings = <&kp KP_PLUS>;
        };
        combo_26 {
            timeout-ms = <80>;
            key-positions = <25 17>;
            bindings = <&m49>;
        };
        combo_27 {
            timeout-ms = <80>;
            key-positions = <5 23>;
            bindings = <&m119>;
        };
        combo_28 {
            timeout-ms = <110>;
            key-positions = <12 13 11>;
            bindings = <&m16>;
        };
        combo_29 {
            timeout-ms = <80>;
            key-positions = <6 30>;
            bindings = <&m61>;
        };
        combo_30 {
            timeout-ms = <80>;
            key-positions = <17 7>;
            bindings = <&m38>;
        };
        combo_31 {
            timeout-ms = <80>;
            key-positions = <12 22>;
            bindings = <&m9>;
        };
        combo_32 {
            timeout-ms = <110>;
            key-positions = <17 18 16>;
            bindings = <&m10>;
        };
        combo_33 {
            timeout-ms = <80>;
            key-positions = <16 26>;
            bindings = <&m11>;
        };
        combo_34 {
            timeout-ms = <80>;
            key-positions = <16 15>;
            bindings = <&kp BSPC>;
        };
        combo_35 {
            timeout-ms = <80>;
            key-positions = <21 17>;
            bindings = <&m33>;
        };
        combo_36 {
            timeout-ms = <80>;
            key-positions = <5 9>;
            bindings = <&m12>;
        };
        combo_37 {
            timeout-ms = <80>;
            key-positions = <15 25>;
            bindings = <&m13>;
        };
        combo_38 {
            timeout-ms = <80>;
            key-positions = <15 11>;
            bindings = <&m120>;
        };
        combo_39 {
            timeout-ms = <80>;
            key-positions = <3 16>;
            bindings = <&m42>;
        };
        combo_40 {
            timeout-ms = <80>;
            key-positions = <8 5>;
            bindings = <&m82>;
        };
        combo_41 {
            timeout-ms = <80>;
            key-positions = <16 0>;
            bindings = <&m76>;
        };
        combo_42 {
            timeout-ms = <110>;
            key-positions = <16 3 6>;
            bindings = <&m88>;
        };
        combo_43 {
            timeout-ms = <110>;
            key-positions = <2 25 12>;
            bindings = <&m70>;
        };
        combo_44 {
            timeout-ms = <80>;
            key-positions = <21 14>;
            bindings = <&m86>;
        };
        combo_45 {
            timeout-ms = <80>;
            key-positions = <20 16>;
            bindings = <&m_jus>;
        };
        combo_46 {
            timeout-ms = <80>;
            key-positions = <23 13>;
            bindings = <&m_verif>;
        };
        combo_47 {
            timeout-ms = <80>;
            key-positions = <13 17>;
            bindings = <&m102>;
        };
        combo_48 {
            timeout-ms = <80>;
            key-positions = <10 5>;
            bindings = <&m48>;
        };
        combo_49 {
            timeout-ms = <110>;
            key-positions = <8 24 16>;
            bindings = <&m126>;
        };
        combo_50 {
            timeout-ms = <80>;
            key-positions = <12 1>;
            bindings = <&m3>;
        };
        combo_51 {
            timeout-ms = <80>;
            key-positions = <16 19>;
            bindings = <&m_outr>;
        };
        combo_52 {
            timeout-ms = <80>;
            key-positions = <17 11>;
            bindings = <&m58>;
        };
        combo_53 {
            timeout-ms = <80>;
            key-positions = <17 8>;
            bindings = <&m91>;
        };
        combo_54 {
            timeout-ms = <80>;
            key-positions = <15 30>;
            bindings = <&m90>;
        };
        combo_55 {
            timeout-ms = <80>;
            key-positions = <3 13>;
            bindings = <&m57>;
        };
        combo_56 {
            timeout-ms = <80>;
            key-positions = <1 11>;
            bindings = <&m31>;
        };
        combo_57 {
            timeout-ms = <80>;
            key-positions = <17 5>;
            bindings = <&m92>;
        };
        combo_58 {
            timeout-ms = <80>;
            key-positions = <16 18>;
            bindings = <&m96>;
        };
        combo_59 {
            timeout-ms = <80>;
            key-positions = <12 19>;
            bindings = <&m_disp>;
        };
        combo_60 {
            timeout-ms = <80>;
            key-positions = <10 17>;
            bindings = <&m24>;
        };
        combo_61 {
            timeout-ms = <80>;
            key-positions = <9 11>;
            bindings = <&m25>;
        };
        combo_62 {
            timeout-ms = <80>;
            key-positions = <13 19>;
            bindings = <&m27>;
        };
        combo_63 {
            timeout-ms = <80>;
            key-positions = <9 20>;
            bindings = <&m60>;
        };
        combo_64 {
            timeout-ms = <110>;
            key-positions = <22 7 10>;
            bindings = <&m28>;
        };
        combo_65 {
            timeout-ms = <80>;
            key-positions = <0 9>;
            bindings = <&m29>;
        };
        combo_66 {
            timeout-ms = <80>;
            key-positions = <9 12>;
            bindings = <&m30>;
        };
        combo_67 {
            timeout-ms = <110>;
            key-positions = <10 11 12>;
            bindings = <&m111>;
        };
        combo_68 {
            timeout-ms = <110>;
            key-positions = <10 11 1>;
            bindings = <&m40>;
        };
        combo_69 {
            timeout-ms = <80>;
            key-positions = <25 26>;
            bindings = <&m64>;
        };
        combo_70 {
            timeout-ms = <120>;
            key-positions = <16 17 18 19>;
            bindings = <&m103>;
        };
        combo_71 {
            timeout-ms = <80>;
            key-positions = <12 2>;
            bindings = <&m34>;
        };
        combo_72 {
            timeout-ms = <80>;
            key-positions = <12 15>;
            bindings = <&m36>;
        };
        combo_73 {
            timeout-ms = <80>;
            key-positions = <9 1>;
            bindings = <&m37>;
        };
        combo_74 {
            timeout-ms = <110>;
            key-positions = <13 16 12>;
            bindings = <&m106>;
        };
        combo_75 {
            timeout-ms = <80>;
            key-positions = <17 27>;
            bindings = <&m114>;
        };
        combo_76 {
            timeout-ms = <80>;
            key-positions = <1 6>;
            bindings = <&m77>;
        };
        combo_77 {
            timeout-ms = <80>;
            key-positions = <13 14>;
            bindings = <&kp DEL>;
        };
        combo_78 {
            timeout-ms = <80>;
            key-positions = <11 16>;
            bindings = <&m43>;
        };
        combo_79 {
            timeout-ms = <80>;
            key-positions = <14 15>;
            bindings = <&m118>;
        };
        combo_80 {
            timeout-ms = <80>;
            key-positions = <3 18>;
            bindings = <&m_result>;
        };
        combo_81 {
            timeout-ms = <80>;
            key-positions = <26 12>;
            bindings = <&m59>;
        };
        combo_82 {
            timeout-ms = <80>;
            key-positions = <19 15>;
            bindings = <&m73>;
        };
        combo_83 {
            timeout-ms = <80>;
            key-positions = <26 1>;
            bindings = <&m68>;
        };
        combo_84 {
            timeout-ms = <80>;
            key-positions = <9 23>;
            bindings = <&m66>;
        };
        combo_85 {
            timeout-ms = <80>;
            key-positions = <12 14>;
            bindings = <&m72>;
        };
        combo_86 {
            timeout-ms = <80>;
            key-positions = <9 4>;
            bindings = <&m69>;
        };
        combo_87 {
            timeout-ms = <110>;
            key-positions = <19 17 18>;
            bindings = <&m94>;
        };
        combo_88 {
            timeout-ms = <110>;
            key-positions = <24 8 14>;
            bindings = <&m71>;
        };
        combo_89 {
            timeout-ms = <80>;
            key-positions = <14 19>;
            bindings = <&m_limit>;
        };
        combo_90 {
            timeout-ms = <80>;
            key-positions = <17 14>;
            bindings = <&m74>;
        };
        combo_91 {
            timeout-ms = <80>;
            key-positions = <17 26>;
            bindings = <&m123>;
        };
        combo_92 {
            timeout-ms = <80>;
            key-positions = <12 16>;
            bindings = <&m81>;
        };
        combo_93 {
            timeout-ms = <110>;
            key-positions = <16 13 17>;
            bindings = <&m109>;
        };
        combo_94 {
            timeout-ms = <110>;
            key-positions = <25 11 12>;
            bindings = <&m78>;
        };
        combo_95 {
            timeout-ms = <80>;
            key-positions = <4 12>;
            bindings = <&m79>;
        };
        combo_96 {
            timeout-ms = <80>;
            key-positions = <4 17>;
            bindings = <&m41>;
        };
        combo_97 {
            timeout-ms = <80>;
            key-positions = <8 19>;
            bindings = <&m52>;
        };
        combo_98 {
            timeout-ms = <110>;
            key-positions = <2 4 3>;
            bindings = <&m83>;
        };
        combo_99 {
            timeout-ms = <110>;
            key-positions = <3 16 13>;
            bindings = <&m22>;
        };
        combo_100 {
            timeout-ms = <80>;
            key-positions = <2 30>;
            bindings = <&m20>;
        };
        combo_101 {
            timeout-ms = <80>;
            key-positions = <4 5>;
            bindings = <&m53>;
        };
        combo_102 {
            timeout-ms = <80>;
            key-positions = <4 30>;
            bindings = <&m93>;
        };
        combo_103 {
            timeout-ms = <80>;
            key-positions = <16 14>;
            bindings = <&m122>;
        };
        combo_104 {
            timeout-ms = <110>;
            key-positions = <12 18 17>;
            bindings = <&m_real>;
        };
        combo_105 {
            timeout-ms = <80>;
            key-positions = <9 22>;
            bindings = <&m23>;
        };
        combo_106 {
            timeout-ms = <80>;
            key-positions = <16 30>;
            bindings = <&m97>;
        };
        combo_107 {
            timeout-ms = <80>;
            key-positions = <8 30>;
            bindings = <&m98>;
        };
        combo_108 {
            timeout-ms = <80>;
            key-positions = <7 30>;
            bindings = <&m99>;
        };
        combo_109 {
            timeout-ms = <80>;
            key-positions = <18 4>;
            bindings = <&m_declar>;
        };
        combo_110 {
            timeout-ms = <80>;
            key-positions = <3 17>;
            bindings = <&m117>;
        };
        combo_111 {
            timeout-ms = <80>;
            key-positions = <0 33>;
            bindings = <&m_aleg>;
        };
        combo_112 {
            timeout-ms = <80>;
            key-positions = <11 19>;
            bindings = <&m105>;
        };
        combo_113 {
            timeout-ms = <80>;
            key-positions = <2 35>;
            bindings = <&m45>;
        };
        combo_114 {
            timeout-ms = <80>;
            key-positions = <11 5>;
            bindings = <&m107>;
        };
        combo_115 {
            timeout-ms = <80>;
            key-positions = <8 35>;
            bindings = <&m108>;
        };
        combo_116 {
            timeout-ms = <80>;
            key-positions = <22 5>;
            bindings = <&m4>;
        };
        combo_117 {
            timeout-ms = <80>;
            key-positions = <15 17>;
            bindings = <&m115>;
        };
        combo_118 {
            timeout-ms = <80>;
            key-positions = <4 1>;
            bindings = <&m110>;
        };
        combo_119 {
            timeout-ms = <80>;
            key-positions = <24 14>;
            bindings = <&m85>;
        };
        combo_120 {
            timeout-ms = <110>;
            key-positions = <10 11 9>;
            bindings = <&m100>;
        };
        combo_121 {
            timeout-ms = <80>;
            key-positions = <11 30>;
            bindings = <&m113>;
        };
        combo_122 {
            timeout-ms = <80>;
            key-positions = <0 4>;
            bindings = <&m21>;
        };
        combo_123 {
            timeout-ms = <80>;
            key-positions = <17 6>;
            bindings = <&m95>;
        };
        combo_124 {
            timeout-ms = <80>;
            key-positions = <2 1>;
            bindings = <&m116>;
        };
        combo_125 {
            timeout-ms = <110>;
            key-positions = <11 7 17>;
            bindings = <&m124>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y  &hm_r RALT U  &kp I  &kp O  &kp P
                &lt 2 A  &hm_l LSHFT S  &hm_l LALT D  &hm_l LCTRL F  &kp G    &kp H  &hm_r LCTRL J  &hm_r LALT K  &hm_r LSHFT L  &lt 2 SEMI
                &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH
                          &lt 4 EQUAL  &lt 1 SPACE  &lt 3 INT1    &lt 3 RET  &lt 1 SPACE  &lt 4 MINUS
            >;
        };

        lower_layer {
            bindings = <
                &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
                &none  &none  &kp NON_US_BSLH  &mkp LCLK  &msc SCRL_UP    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &kp LC(LS(V))
                &kp C_VOL_UP  &kp C_VOL_DN  &none  &kp PSCRN  &msc SCRL_DOWN    &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
                          &none  &none  &mkp LCLK    &mkp MCLK  &mkp RCLK  &tog 1
            >;
        };

        raise_layer {
            bindings = <
                &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)    &kp LS(SQT)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)
                &kp LS(LBKT)  &none  &kp GRAVE  &kp LS(GRAVE)  &kp LS(FSLH)    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp SQT
                &none  &none  &none  &kp LBKT  &none    &none  &m51  &kp LS(COMMA)  &kp LS(DOT)  &none
                          &kp LS(RBKT)  &kp RBKT  &m51    &none  &kp BSLH  &kp LS(BSLH)
            >;
        };

        adjust_layer {
            bindings = <
                &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                          &none  &none  &none    &none  &none  &none
            >;
        };

        macro_layer {
            bindings = <
                &m35  &none  &m39  &m89  &m26    &none  &m67  &m121  &m56  &m127
                &m_aplic  &m19  &m62  &none  &m87    &none  &m47  &m80  &m104  &none
                &none  &m84  &m44  &m46  &none    &none  &none  &none  &m112  &none
                          &none  &none  &none    &none  &none  &none
            >;
        };

        bt_layer {
            bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &bt BT_CLR  &bt BT_CLR_ALL    &trans  &trans  &trans  &trans  &trans
                          &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };


    };
};
