/*
 * Corne Mini 3x5 - FACTORY TEST KEYMAP
 * Keymap minimo para testar se todas as teclas funcionam.
 * QWERTY puro, sem macros, combos ou home row mods.
 *
 * Positions:
 *   0  1  2  3  4     5  6  7  8  9
 *  10 11 12 13 14    15 16 17 18 19
 *  20 21 22 23 24    25 26 27 28 29
 *        30 31 32    33 34 35
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y  &kp U  &kp I      &kp O    &kp P
                &kp A  &kp S  &kp D  &kp F  &kp G      &kp H  &kp J  &kp K      &kp L    &kp SEMI
                &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH
                              &kp LGUI &kp SPACE &mo 1  &mo 2  &kp SPACE &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
                &kp N1    &kp N2    &kp N3    &kp N4    &kp N5       &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
                &kp TAB   &kp ESC   &trans    &trans    &trans       &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp BSPC
                &kp LSHFT &trans    &trans    &trans    &trans       &trans  &trans  &trans  &trans  &kp RET
                                    &trans    &trans    &trans       &trans  &trans  &trans
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
                &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH
                &kp LSHFT &trans    &trans    &trans    &trans       &kp UNDER &kp PLUS &kp LBRC &kp RBRC &kp PIPE
                                    &trans    &trans    &trans       &trans  &trans  &trans
            >;
        };
    };
};
